<h1><%= @flat.name %></h1>
<h2><%= @flat.address %></h2>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>
<%= link_to "Back to full list", flats_path, class: "btn btn-primary" %>
